---

- name: "configuration play." 
  hosts: web
  user: ubuntu
  gather_facts: false
  vars:
    - ansible_python_interpreter: /usr/bin/python3
    - ansible_host_key_checking: false
    - ansible_stdout_callback: yaml

  pre_tasks:
    - name: "wait 300 seconds for target connection to become reachable/usable."
      wait_for:
        timeout: 300

    - name: "Update apt packages."
      become: yes
      apt:
        update_cache: yes

    - name: "Upgrade packages."
      become: yes
      apt:
        upgrade: yes

  roles:
    - configure-server